* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 80%;
    background-color: azure;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    width: 100%;
    height: 20%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.list-container {
    width: 100%;
    height: 40%;
    background-color: aquamarine;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}