body {
    font-size: 20px;
}
#list-container{
    border: 2px solid black;
    width: 30%;
    height: 90vh;
    margin: auto;
    padding: 20px;
}

.title-container {
    width: 100%;
    height: 10%;
}

.input-container {
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 35px;
    width: 70%;
    height: 5%;
    display: flex;
    flex-wrap: nowrap;
}
.input-container>input {
    width: 70%;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    margin-right: 20px;
    font-size: 15px;
}
.input-container>input::placeholder {
    font-size: 20px;
}
.input-container>button {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.show-container {
    width: 90%;
    margin: auto;
}
.show-card {
    padding: 5px;
    margin-top: 20px;
    border-bottom: dashed 1px teal;
    line-height: 100%;
}
.show-card>input {
    zoom: 1.5;
}